body{

	font-family: 'Avenir', Helvetica, sans-serif;
	background:#f8f8f8;
	
}


.text{
	
	font-size: 400%;
	margin-left: auto;
	margin-right: auto;

	margin-top: 350px;

	
	text-align: center;

	color: black;

}

p:hover{
	color: #646464;
}

#fadeout {
  opacity: 1;
  transition: 1s opacity;
  text-align: center;
  font-size:32px;
}

